<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Inventory</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<header class="page-header">
    <h1>My Laboratory</h1>
</header>

<main class="container">

    <!-- Departments -->
    <section class="card">
        <h2 class="card-title">Departments</h2>
        <div class="card-grid">
            <% departments.forEach(function(department) { %>
                <a href="/departments/<%= department.id %>">
                    <div class="hover-card">
                        <p><%= department.name %></p>
                    </div>
                </a>
            <% }) %>
        </div>
    </section>


    <!-- Item Categories -->
    <section class="card">
        <h2 class="card-title">Item Categories</h2>

        <div class="card-grid">
            <% itemCategories.forEach(function(category) { %>
                <div class="hover-card">
                    <p><%= category.name %></p>
                </div>
            <% }) %>
        </div>
    </section>

    <!-- Items -->
     <section class="card">
        <h2 class="card-title">Items</h2>

        <div class="card-grid">
            <% items.forEach(function(item) { %>
                <a href="/stock/<%=item.id%>">
                    <div class="hover-card">
                        <p><%= item.name %></p>
                    </div>
                </a>
            <% }) %>
        </div>
     </section>

     <a href="/stock" class="hover-card">Stock</a>
     <a href="/transactions" class="hover-card">Test</a>

</main>

</body>
</html>