<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <section class="card">
        <form action="">
            <label for="department">Department</label>
            <select name="department" id="department" >
                <option value="">--Please select a department--</option>
                <% itemBatchTransaction.forEach(function(row) { %>
                    <option value="<%= row.id %>"><%= row.department_name %></option>
                <% }) %>                
            </select>
            <label for="item">Choose the Item</label>
            <select name="name " id="name">
                <option value="">--Please choose an item--</option>
                <% itemBatchTransaction.forEach(function(row) { %>
                    <option value="<%= row.id %>"><%= row.item_name %></option>
                <% }) %>
            </select>

            <label for="batch">Batch</label>
            <select name="batch" id="batch">
                <option value="">--please select a batch--</option>
                <% itemBatchTransaction.forEach(function(row) { %>
                    <option value="<%= row.id %>"><%= row.batch_number %></option>
                <% }) %>                
            </select>

            <label for="type">Test type</label>
            <select name="type" id="type">
                <option value="type">--Select Transaction type--</option>
                <option value="issue">Isuue</option>
                <option value="waste">Waste</option>
                <option value="refill">Refill</option> 
            </select>

            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" id="quantity" min="0">

            <label for="reason">Reason</label>
            <input type="text" name="reason" id="reason">

            <button type="submit">Submit</button>
        </form>
    </section>
</body>
</html>