<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header class="page-header">
        <h1><%=item.name%></h1>
        <p class="subtitle">Edit and submit the details of the item <%=item.name%></p>
    </header>
    <a href="/admin"><button class="back-btn">Admin</button></a>
<section class="form-card">
    <form action="/items/<%=item.id%>/edit" method="POST" class="lab-form">
        <div class="form-group">
            <label for="item_name">Name</label>
            <input type="text" name="item_name" id="item_name" value="<%=item.name%>">
        </div>

        <div class="form-group">
            <label for="item_unit_of_measure">Unit of Measure</label>
            <input type="text" name="item_unit_of_measure" id="item_unit_of_measure" value="<%=item.unit_of_measure%>">
        </div>
        <div class="form-group">
            <label for="item_storage_condition">Storage Condition</label>
            <input type="text" name="item_storage_condition" id="item_storage_condition" value="<%=item.storage_condition%>">
        </div>
        <div class="form-group">
            <label for="item_minimum_stock">Minimum Stock</label>
            <input type="number" name="item_minimum_stock" id="item_minimum_stock" value="<%=item.minimum_stock%>">
        </div>
        <div class="form-group">
            <label for="item_is_active">is_active</label>
            <input type="checkbox" name="item_is_active" id="item_is_active" value="true" <%= item.is_active ? "checked" : "" %>>
        </div>
        <button type="submit" class="primary-btn">Submit Edit</button>
    </form>
</section>
</body>
</html>